{% extends 'base.html' %}


{% block content %}


<div class="shadow p-3 mb-5 bg-body rounded"><strong>Lista de productos</strong></div>
<a class="btn btn-outline-warning" href="{% url 'producto_app:Alta del producto'%}">CREAR</a>

<div class="shadow p-3 mb-5 bg-body rounded">

    <div class="listaempleados"> 
   
        
        <button type="button" class="btn btn-light"><strong>Codigo</strong></button>
        <button type="button" class="btn btn-light"><strong>Nombre</strong></button>
        <button type="button" class="btn btn-light"><strong>Stock</strong></button>
        <button type="button" class="btn btn-light"><strong>Acciones</strong></button>

        {% for producto in productos %}
            <div class="alert alert-warning" role="alert">{{producto.codigo}}</div>
            <div class="alert alert-warning" role="alert">{{producto.nombre}}</div>
            <div class="alert alert-warning" role="alert">{{producto.stock}} Unidades</div>
            
            <div class="alert alert-warning" role="alert">                     
                    <a class="btn btn-outline-warning" href="{% url 'producto_app:Detalle del producto' producto.id%}">Ver</a>
                    <a class="btn btn-outline-warning" href="{% url 'producto_app:Modificar producto' producto.id%}">Modificar</a>
                    <a class="btn btn-outline-warning" href="{% url 'producto_app:Eliminar producto' producto.id%}">Eliminar</a>            
            </div>
        {% endfor %}
    </div>

</div>        

{% endblock content %}
    

