{% extends 'base.html' %}


{% block content %}


<div class="shadow p-3 mb-5 bg-body rounded"><strong>Lista de Proveedores</strong></div>
<a class="btn btn-outline-secondary" href="{% url 'Proveedor_app:Alta del Proveedor'%}">CREAR</a>

<div class="shadow p-3 mb-5 bg-body rounded">

    <div class="listaempleados"> 
   
        
        <button type="button" class="btn btn-light"><strong>Nombre</strong></button>
        <button type="button" class="btn btn-light"><strong>Representante</strong></button>
        <button type="button" class="btn btn-light"><strong>Telefono</strong></button>
        <button type="button" class="btn btn-light"><strong>Acciones</strong></button>

        {% for Proveedor in Proveedores %}
            <div class="alert alert-secondary" role="alert">{{Proveedor.nombres}}</div>
            <div class="alert alert-secondary" role="alert">{{Proveedor.representante}}</div>
            <div class="alert alert-secondary" role="alert">{{Proveedor.telefono}}</div>
            
            <div class="alert alert-secondary" role="alert">                     
                    <a class="btn btn-outline-secondary" href="{% url 'Proveedor_app:Detalle del Proveedor' Proveedor.id%}">Ver</a>
                    <a class="btn btn-outline-secondary" href="{% url 'Proveedor_app:Modificar Proveedor' Proveedor.id%}">Modificar</a>
                    <a class="btn btn-outline-secondary" href="{% url 'Proveedor_app:Eliminar Proveedor' Proveedor.id%}">Eliminar</a>            
            </div>
        {% endfor %}
    </div>

</div>        

{% endblock content %}
    

