{% extends 'base.html' %}
{% load static %}
{% block content %}

<div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="10000">
        <img src="{% static 'img/producto.jpg' %}" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">

            <div class="shadow-lg p-3 mb-5 bg-body rounded opacity-50"> <h5><div class= "opacity-150"></div> <strong>Productos</strong></h5></div>
           
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
              Ordena y clasifica todos tus articulos <strong>como tu quieras!</strong> 
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>

        </div>
      </div>
      <div class="carousel-item" data-bs-interval="2000">
        <img src="{% static '/img/cliente.png' %}" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
            <div class="shadow-lg p-3 mb-5 bg-body rounded opacity-50"> <h5><div class= "opacity-150"></div> <strong>Clientes</strong></h5></div>
           
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                Registra <strong>de forma segura</strong>  cada potencial consumidor!
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>

        </div>
      </div>
      <div class="carousel-item">
        <img src="{% static 'img/proveedor1.jpg' %}" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
            
            <div class="shadow-lg p-3 mb-5 bg-body rounded opacity-50"> <h5><div class= "opacity-150"></div> <strong>Proveedores</strong></h5></div>
           
          <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <strong>Nunca olvides</strong> donde reponer todos tus productos!
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

{% endblock content %}
    